@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('font/belligerent-webfont.woff2') format('woff2'),
         url('font/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'belligerent_madnessregular';
    margin: 0;
    padding: 0;
}

/* taille logo */

.logo img {
    display: flex;
    width: 70%;
    justify-content: center;
    margin-left: 4em;
}

/* taille flèche retour */

.back {
    font-size: 1.5em;
    color: black;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    background-color: #F3E9F1;
}

/* nav */

.navigation {
    transition: transform 0.3s;
    font-size: 2em;
    top: 0;
    right: 0;
    margin: 2em;
}

.navigation:hover {
    transform: scale(1.1);
}

/* page produits */

.select {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 2em;
}

.boxSelect {
    display: flex;
    height: 9em;
    justify-content: space-between;
    flex-direction: column;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    background-color: #F3E9F1;
    border: 1px solid black;
    border-radius: 2em;
}

.Basket > img {
    width: 700px;
    height: 500px;
    object-fit: cover;
    margin: 1em;
    border: 2px solid black;
    border-radius: 2em;
}

.content {
    display: flex;
    justify-content: space-around;
    margin: 5em;
}

/* taille paragraphe */

.products > div > p {
    font-size: 1.5em;
    margin: 1em;
    font-weight: bold;
}

/* buttons */

#quantité {
    display: flex;
    width: 25em;
    border: 5px solid blue;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1.2em;
    font-family: 'belligerent_madnessregular';
}

.basket {
    display: flex;
    justify-content: center;
}

.valid {
    display: flex;
    width: 25em;
    transition: transform 0.3s;
    border: 5px solid blue;
    border-radius: 1em;
    margin-top: 6em;
    justify-content: center;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'belligerent_madnessregular';
}

.boxSelect {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

/* couleur et surlignement liens */

a {
    text-decoration: none;
    color: rgb(39, 82, 221);
}

/* Footer */

footer {
    display: flex;
    height: 15vh;
    background-color: #F3E9F1;
    align-items: center;
}

.infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.infos > p > a {
    font-size: 1.5em;
}

.aboutus {
    margin-left: 5em;
}

.contact {
    margin-right: 5em;
}