@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('font/belligerent-webfont.woff2') format('woff2'),
         url('font/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'belligerent_madnessregular';
    margin: 0;
    padding: 0;
}

/* taille logo */

.logo img {
    display: flex;
    width: 70%;
    justify-content: center;
    margin-left: 4em;
}

/* taille flèche retour */

.back {
    font-size: 1.5em;
    color: black;
}

/* ---------------- Header ---------------- */

header {
    display: flex;
    justify-content: space-between;
    background-color: #F3E9F1;
}

/* nav */

.navigation {
    transition: transform 0.3s;
    font-size: 2em;
    top: 0;
    right: 0;
    margin: 2em;
}

.navigation:hover {
    transform: scale(1.1);
}

/* ---------------- Page produits ---------------- */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5em;
    width: auto;
    max-width: 100%;
    align-items: center;
    background-color: #F3E9F1;
    border: 1px solid black;
    border-radius: 2em;
    text-align: center;
}

.content > div > img {
    width: 70%;
    max-width: 600px;
    object-fit: cover;
    margin: 1em;
    border: 2px solid black;
    border-radius: 2em;
}

.divText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: normal;
    flex-direction: column;
    width: 30%;
    max-width: 10em;
}

/* ---------------- Formulaire ---------------- */

form {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 100%;
    align-items: center;
    background-color: #F3E9F1;
    border: 1px solid black;
    border-radius: 2em;
    margin: 5em;
}
    
form > .formbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    margin: 1em;
}

form > div > input {
    display: flex;
    border: 5px solid #F3E9F1;
    border-radius: 1em;
    margin: 1em;
    padding: 1em;
}

form > div > label {
    margin-top: 1em;
    font-size: 20px;
}

/* ---------------- ASPECT BOUTON ---------------- */

#clear {
    display: flex;
    width: 90%;
    max-width: 400px;
    border: 5px solid blue;
    justify-content: center;
    cursor: pointer;
    border-radius: 1em;
    margin: 2em;
    padding: 0.5em;
    font-size: 1.2em;
    font-family: 'belligerent_madnessregular';
}

#valid {
    display: flex;
    width: 90%;
    max-width: 600px;
    cursor: pointer;
    transition: transform 0.3s;
    border: 5px solid blue;
    border-radius: 1em;
    margin: 2em;
    justify-content: center;
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'belligerent_madnessregular';
}

/* Taille texte et nom */

h2 {
    font-size: 25px;
}

p {
    font-size: 24px;
}

/* couleur et surlignement liens */

a {
    text-decoration: none;
    color: rgb(39, 82, 221);
}

/* ---------------- Footer ---------------- */

footer {
    display: flex;
    height: 15vh;
    background-color: #F3E9F1;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.aboutus {
    margin-left: 5em;
}

.contact {
    margin-right: 5em;
}