@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('font/belligerent-webfont.woff2') format('woff2'),
         url('font/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'belligerent_madnessregular';
    margin: 0;
    padding: 0;
}

/* taille logo */

.logo {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: auto;
}

.logo img {
    display: flex;
    width: 70%;
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

/* ---------------- Header ---------------- */

header {
    display: flex;
    justify-content: space-between;
    background-color: #F3E9F1;
}

/* nav */

.navigation {
    transition: transform 0.3s;
    display: flex;
    font-size: 2em;
    align-items: center;
    padding: 0.5em;
}

.navigation:hover {
    transform: scale(1.1);
}

/* ---------------- Page produits ---------------- */

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.products > div > h1 {
    margin-bottom: 0;
    color: black ;
}

/* taille paragraphe */

.products > div > p {
    font-size: 1.5em;
    margin: 1em;
    font-weight: bold;
}

/* Cartes nounours */

.products > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
    max-width: 600px;
    margin: 1em 1em 1.5em 1em;
}

/* ---------------- ASPECT BOUTON ---------------- */

.products > div > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 300px;
    height: 2.5em;
    padding: 0.3em;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'belligerent_madnessregular';
    margin-top: 1em;
    border-radius: 1em;
    border: 2px solid black;
    box-shadow: 4px -3px 21px 0px rgba(122, 122, 184, 0.75);
}

/* couleur et surlignement liens */

a {
    text-decoration: none;
    color: rgb(39, 82, 221);
}

/* taille images nounours */

#products > div > img {
    width: 90%;
    max-width: 800px;
    margin-top: 1em;
    margin-bottom: 1em;
    object-fit: cover;
    border: 1px solid black;
    border-radius: 1em;
    box-shadow: 0.5em 0.5em 0.5em rgba(74,66,211,0.48);
}

/* ---------------- Footer ---------------- */

footer {
    display: flex;
    width: 100%;
    background-color: #F3E9F1;
    align-items: center;
    justify-content: space-between;
}

footer > p > a {
    font-size: 1.5em;
}

.aboutus {
    margin-left: 5em;
    padding: 2em;
}

.contact {
    margin-right: 5em;
    padding: 2em;
}