@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('font/belligerent-webfont.woff2') format('woff2'),
         url('font/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'belligerent_madnessregular';
    margin: 0;
    padding: 0;
}

/* taille logo */

.logo {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: auto;
}

.logo img {
    display: flex;
    width: 70%;
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

/* taille flèche retour */

.back {
    font-size: 1.2em;
    color: black;
}

/* ---------------- Header ---------------- */

header {
    display: flex;
    justify-content: space-between;
    background-color: #F3E9F1;
}

/* nav */

.navigation {
    transition: transform 0.3s;
    display: flex;
    font-size: 2em;
    align-items: center;
    padding: 0.5em;
}

.navigation:hover {
    transform: scale(1.1);
}

/* ---------------- Page order ---------------- */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2em;
    width: auto;
    max-width: 100%;
    align-items: center;
    background-color: #F3E9F1;
    border: 1px solid black;
    border-radius: 2em;
    text-align: center;
}

.divOrder {
    display: flex;
    flex-direction: column-reverse;
}

/* Taille texte et nom */

h2 {
    font-size: 25px;
    margin: 1em;
}

/* taille paragraphe */

.thx > p {
    font-size: 1.3em;
}

.divOrder > p {
    font-size: 1.3em;
} 

/* couleur et surlignement liens */

a {
    text-decoration: none;
    color: rgb(39, 82, 221);
}

/* ---------------- Footer ---------------- */

footer {
    display: flex;
    width: 100%;
    background-color: #F3E9F1;
    justify-content: space-between;
}

footer > p > a {
    font-size: 1.5em;
}

.aboutus {
    padding: 2em;
}

.contact {
    padding: 2em;
}