@font-face {
    font-family: 'belligerent_madnessregular';
    src: url('font/belligerent-webfont.woff2') format('woff2'),
         url('font/belligerent-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'belligerent_madnessregular';
    margin: 0;
    padding: 0;
}

/* taille logo */

.logo {
    display: block;
    width: 90%;
    max-width: 400px;
    margin: auto;
}

.logo img {
    display: flex;
    width: 70%;
    max-width: 800px;
    margin: auto;
    padding: 1em;
}

/* taille flèche retour */

.back {
    font-size: 1.5em;
    color: black;
}

/* ---------------- Header ---------------- */

header {
    display: flex;
    justify-content: space-between;
    background-color: #F3E9F1;
}

/* nav */

.navigation {
    transition: transform 0.3s;
    display: flex;
    font-size: 2em;
    align-items: center;
    padding: 0.5em;
}

.navigation:hover {
    transform: scale(1.1);
}

/* ---------------- Page produits ---------------- */

.global {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    max-width: 100%;
    background-color: #F3E9F1;
    border: 1px solid black;
    border-radius: 2em;
    margin: 2em;
}

#content {
    display: flex;
    flex-direction: column-reverse;
}

.divText {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
}

.divText > p {
    font-size: 24px;
    margin: 1em;
}

/* dimension image */

#content > div > img {
    width: 90%;
    max-width: 800px;
    margin: 1em;
    border: 2px solid black;
    border-radius: 2em;
}

/* ---------------- ASPECT BOUTON ---------------- */

/* bouton select colors */

#colors {
    display: flex;
    width: 80%;
    max-width: 300px;
    margin: 1.5em;
    border: 5px solid blue;
    cursor: pointer;
    border-radius: 1em;
    padding: 0.5em;
    font-size: 1.2em;
    font-family: 'belligerent_madnessregular';
}

/* bouton ajouter au panier */

#btnPanier {
    display: flex;
    justify-content: center;
    width: 85%;
    max-width: 500px;
    margin: 1em;
    cursor: pointer;
    transition: transform 0.3s;
    border: 5px solid blue;
    border-radius: 1em; 
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'belligerent_madnessregular';
}

/* Taille texte et nom */

h2 {
    font-size: 25px;
    margin: 1em;
}

/* couleur et surlignement liens */

a {
    text-decoration: none;
    color: rgb(39, 82, 221);
}

/* ---------------- Footer ---------------- */

footer {
    display: flex;
    width: 100%;
    background-color: #F3E9F1;
    align-items: center;
    justify-content: space-between;
}

footer > p > a {
    font-size: 1.5em;
}

.aboutus {
    padding: 2em;
}

.contact {
    padding: 2em;
}